.footer{
    padding-top: var(--grid-spacing);
    position: relative;
    overflow: hidden;

    &__title-wrap{
        position: relative;
        height:100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile {
            height: calc(100vh - 5rem);
        }

        .footer__title{
            position: relative;
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 10vw;
            line-height: 1;
            font-weight: 400;
            padding-left: var(--grid-margin);
            padding-right: var(--grid-margin);
            
            span {
                &:nth-child(2) {
                    font-family: $font-serif;
                }
            }
        }

        .footer__img-box{
            position: absolute;
            top: 0;
            left:0;
            width:100%;
            height:100%;
            overflow: hidden;

            img {
                width:100%;
                height:100%;
                object-fit: cover;
            }
        }
    }

    .contact{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding:0 var(--grid-margin);
        padding-bottom: 2.2rem;
        @include tablet {
            padding-bottom: 1.7rem;
        }
        @include mobile {
            padding-bottom: 4rem;
        }

        &__list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            grid-column: 2 /span 3;

            @include mobile {
                grid-column: 1 /span 5;
            }
        }
        &__item{
            font-size:1.13rem;
            line-height: 1.2;
            width:100%;
            text-align: center;

            @include tablet {
                font-size:1rem;
            }

            a{
                font-weight: 500;
                @include lineBtn(2px, $color-black);
            }

            svg{
                vertical-align: middle;

                @include tablet {
                    width:9px;
                    margin-bottom: 2px;
                }
            }
        }
    }
}