/* Header */
.header {
    position: relative;

    &__inner{
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        right:0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2.5rem 0;
        mix-blend-mode: difference;
        color: $color-white;
        transform: translateY(-100%);

        @include tablet {
            padding: 2rem 2rem 0;
        }
        @include mobile {
            padding: 1.5rem 1.5rem 0;
        }    
    }

    &__logo {
        font-size: 1.25rem;
        line-height: 1;
        @include tablet {
            font-size:1.13rem;
        }
        span{
            font-size:0.8em;
            vertical-align: top;
        }
    }

    .gnb{
        // width: 40%;
        &__list{
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        &__item{
            line-height: 1;
            font-size:1.13rem;
            &:not(:last-child):after{
                content: ',';
                position: absolute;
            }
            a{
                @include revealBtn;
            }
        }
    }
    
    .gnb-trigger {
        position: relative;
        width: 28px;
        height: 24px;
        cursor: pointer;
        z-index: 100;
        transition: opacity 0.25s ease;

        @include mobile {
            width: 24px;
            height: 20px;
        }
    
        &__bar {
            position: absolute;
            top: 5px;
            left: 0;
            background: $color-white;
            width: 100%;
            height: 2px;
            transition: all 0.35s ease;
            &:nth-child(2) {
                top: 15px;
            }
        }
    
        &.active span{
            background: $color-white !important;
            &:nth-child(1) {
                transform: translateY(5px) translateX(0) rotate(45deg);
            }
            &:nth-child(2) {
                transform: translateY(-5px) translateX(0) rotate(-45deg);
            }
        }
    }

    .gnb-mobile{
        position: fixed;
        z-index: 900;
        right: 1rem;
        top: 1rem;
        height:0;
        overflow: hidden;

        &__inner{
            border-radius: 5px;
            background:rgba(255,255,255,0.5);
            border: 1px solid rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10px);
            color:$color-black;
            padding: 2.8rem 8rem 2rem 2rem;
            max-width:80vw;

            @include mobile {
                padding: 2.2rem 6rem 1.5rem 1.5rem;
            }
        }

        &__item{
            font-size:2rem;
            font-weight: 500;
            line-height: 1.5;

            @include mobile {
                font-size: 1.8rem;
            }

            @include tablet {
                font-size: 1.6rem;
            }
        }

        &__contact-list{
            font-size: 1.13rem;
            margin-top: 1rem;

            @include mobile {
                font-size: 1.0625rem;
                margin-top: 0.6rem;
            }
        }
    }
}