
/* Sec common */
.sec{
    counter-reset:number;
    @include prefix(transition, background-color .8s);

    &>[class*=__inner]:not(.pd-none){
        padding-left: var(--grid-padding);
        padding-right: var(--grid-padding);
    }
}


/* Hero */
.hero{
    &__inner{
        height:100svh;
        padding-top: 5rem;
        padding-bottom: 3rem;
    }

    &__text-box{
        position: relative;
        height:100%;
        z-index: 2;
        color:$color-white;

        .hero__title{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 10.42vw;
            line-height: 1;

            @include mobile {
                font-size: 4rem;
            }

            > span{
                display: flex;
                overflow: hidden;

                &:nth-child(2) {
                    justify-content: flex-end;
                    font-family: $font-serif;
                }
            }
        }

        .hero__info{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            top:50%;
            transform: translateY(-50%);
        }
    }

    &__img-wrap{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .hero__img-box{
            position: absolute;
            width:100%;
            height:100%;
            overflow: hidden;
            &:not(:first-child) {
                transform: translateY(100%);
            }
    
            img{
                position: absolute;
                top: 0;
                left:0;
                width:100%;
                height:125%;
                object-fit: cover;
            }
        }
    }
}

/* About */
.about{
    &__inner{
        padding-top: calc(var(--grid-padding-row) * 2);
        padding-bottom: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include tablet {
            padding-bottom: 0;
        }
    }

    &__copy{
        text-align: center;

        &--en{
            max-width: 980px;
            font-size: 2.75rem;
            line-height: 1.3;

            @include tablet {
                max-width: 540px;
                font-size: 2rem;
            }

            @include mobile {
                max-width: 95%;
                font-size: 1.8rem;
            }

            span{
                -webkit-text-fill-color: rgba(0,0,0,0.2);
                -webkit-background-clip: text; // 배경 클립을 텍스트 영역으로 제한
                background-repeat: no-repeat; 
                background-image: linear-gradient(#000, #000);
                background-size: 0% 100%;
            }
        }

        &--ko{
            max-width: 700px;
            margin-top: 1rem;
            opacity: 0.7;

            @include tablet {
                max-width: 460px;
            }

            @include mobile {
                max-width: 95%;
            }
        }
    }
}

/* Project */
.project{
    &__inner{
        padding-bottom:var(--grid-padding-row);
    }

    &__title-wrap{
        position: relative;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .project__title{
            text-transform: uppercase;
            font-weight: 400;
            font-size:22vw;
            letter-spacing: -0.1rem;
            line-height: 1.2;
            white-space: nowrap;

            @include tablet {
                font-size: 24vw;
            }
        }
    }

    // Project List
    &__list {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10rem;

        @include tablet {
            gap: 8rem;
        }
    }

    &__item {
        position: relative;
        width: 75%;
        max-width: 820px;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 2.5rem;
        color: $color-white;
        overflow: hidden;
        border-radius: 1rem;
        transform: scale(0.5);

        @include tablet {
            height: 50vh;
        }

        @include mobile{
            width:95%;
            padding: 2rem;
        }
    
        &-text-box {
            z-index: 100;
            height: 50px;
            overflow: hidden;
            transition: height 0.5s;

            @include tablet {
                height: auto;
            }

            .project__item-kategorie{
                font-size: 0.9rem;
                position: absolute;
                left: 1.5rem;
                top: 1.5rem;
                border-radius: 100px;
                padding: 0.4rem 1rem;
                backdrop-filter: blur(10px);
                background-color: rgba(250, 250, 250, 0.2);
                text-transform: uppercase;
            }

            .project__item-title{
                font-size: 2.5rem;
                font-weight: 400;
                line-height: 1.2;

                @include tablet {
                    font-size: 2.2rem;
                }

                @include mobile {
                    font-size: 2rem;
                }
            }

            .project__item-desc{
                margin-top: 0.5rem;

                @include mobile {
                    br{
                        display: none;
                    }
                }
            }

            .project__item-link--in{
                margin-top: 1rem;
                font-size: 1.0625rem;

                a{
                    @include tablet {
                        display: block;
                        margin-bottom: 0.2rem;
                    }
                    
                    span{
                        @include lineBtn(1px, $color-white);
                    }
    
                    svg{
                        width: 10px;
                        margin-left: 3px;
    
                        rect{
                            fill: $color-primary;
                        }
                    }
                }
            }
        }

        &:hover{
            .project__item-text-box{
                height: 155px;

                @include tablet {
                    height: auto;
                }
            }
        }

        &-img-box {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            bottom:0;
            left: 0;
            right:0;

            img {
                width: 100%;
                height:150%;
                object-fit: cover;
            }

            .project__item-link{
                position: absolute;
                top: 0;
                left: 0;
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 100%;

                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom:0;
                    left:0;
                    right:0;
                    width: 100%;
                    height: 100%;
                    background: rgb(0,0,0);
                    background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(255,255,255,0) 50%);

                    @include mobile {
                        background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(255,255,255,0) 70%);
                    }
                }
            }
        }
    }
}

/* Sub Project */
.sub-project{
    &__inner{
        position: relative;
        padding-bottom: var(--grid-padding-row);
        overflow: hidden;

        @include tablet {
            padding-left: var(--grid-padding);
            padding-right: var(--grid-padding);
        }
    }

    &__title-wrap{
        position: absolute;
        top:0;
        left:0;
        padding-top: max(10vh, 70px);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        height:100%;
        line-height: 1.2;

        @include tablet {
            padding-top: 5rem;
            position: unset;
            line-height: 1.3;
        }

        .sub-project__title{
            font-size: 2.125rem;
            font-weight: 500;

            @include tablet {
                font-size: 2em;
            }
    
            @include mobile {
                font-size: 1.5em;
            }
        }

        .sub-project__date{
            @extend .sub-project__title;
            opacity: 0.4;
        }
    }

    &__list{
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        width: 300vw;
        height: 100vh;
        padding:0 35vw 6vh;
        flex-wrap: wrap;

        @include tablet {
            width: 100%;
            height: auto;
            padding: 0;
            margin-top: 3rem;
            row-gap: 4rem;
        }

        @include mobile {
            row-gap: 3rem;
        }
    }

    &__item{
        position: relative;
        width:500px;
        flex-shrink: 0;
        padding:0 0.8rem;

        @include laptop {
            width:350px;
        }

        @include tablet {
            width: 50%;
            padding: 0 10px;

            &:nth-child(3) {
                width:100%;
            }
        }

        @include mobile {
            width: 100%;
            padding: 0;
        }

        &-link{
            display: block; 
            width:100%; 
            position: relative;
        }

        &-img-box{
            position: relative;
            border-radius: 1rem;
            overflow: hidden;

            @include pc {
                filter : grayscale(1);
            }

            img{
                display:block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: scale(1);
                transition: all 0.5s;
            }
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }

        &-text-box{
            position: relative;
            margin-top: 0.8rem;
            height:0;
            opacity: 0;
            transition:height 0.5s;

            @include tablet {
                opacity: 1;
                height: auto;
            }

            .sub-project__item-title{
                font-size:1.4rem;
                font-weight: 500;
            }
            .sub-project__item-desc{
                opacity: 0.7;
            }
        }
    }

    .modal{
        position: absolute;
        z-index: 100;
        right: 1.8rem;
        top: 1rem;
        background: rgba(255,255,255,0.5);
        backdrop-filter:blur(15px);
        width: 45px;
        height: 45px;
        border-radius: 45px;
        overflow: hidden;
        cursor: pointer;
        will-change: width, height;
        transition: 0.6s cubic-bezier(.17,1,.33,1);
        opacity: 0;

        @include tablet {
            width: 35px;
            height: 35px;
            opacity: 1;
        }
        @include mobile {
            right: 1rem;
        }

        // Modal Toggle
        &__toggle{
            position: absolute;
            z-index: 50;
            bottom: 0;
            left: 0;
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: $color-white;
            cursor: pointer;
            transition: 0.2s all;

            @include tablet {
                width: 35px;
                height: 35px;
            }

            svg {
                transform: rotateZ(0deg);
                transition: 1s cubic-bezier(.32,1.35,.75,1);
            }

            &.active{
                svg{
                    transform: rotateZ(135deg);
                }
            }
        }

        &__content{
            position: relative;
            min-width: 360px;
            height: 100%;
            display: flex;
            flex-flow: column;
            padding: 0.9375rem 1.5625rem 3.125rem;
            opacity: 0;

            @include tablet {
                min-width: 320px;
            }

            &-text{
                margin-top: 0.5rem;
                &:last-child{
                    margin-top: 2rem;
                }
            }

            &-badge{
                margin-top: 0.5rem;
                font-size: 0;
    
                &-item{
                    font-size: 0.9rem;
                    display: inline-block;
                    width: auto;
                    max-width: fit-content;
                    background-color: rgba(10, 10, 10, 0.2);
                    padding: 0.4rem 0.8rem;
                    border-radius: 100px;
                    color: $color-white;
                    margin: 3px 5px 3px 0;

                    @include tablet {
                        font-size:0.9rem;
                        padding: 0.6rem 0.8rem;
                    }
                }
            }
        }
    }

    &__add{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 6rem;

        @include tablet {
            padding-top: 5rem;
        }
        @include mobile {
            padding-top: 4rem;
        }

        .counter{
            font-size:7rem;
            font-weight: 500;
            line-height: 1;

            @include tablet {
                font-size: 4.5rem;
            }

            @include mobile {
                font-size: 4rem;
            }

            &:after{
                content:'+';
                position: relative;
                display:inline;
                vertical-align: top;
                top: -0.8rem;
                font-size:0.7em;
            }
        }
    }
}



/* Goal */
.goal {
    &__inner{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        height: 100vh;
        max-width:1200px;
        margin: 0 auto;
        gap: 1.5625rem;

        @include tablet {
            height: auto;
            grid-template-columns: 1fr;
            gap: 1.25rem;
            padding-top: var(--grid-padding-row);
        }
    }

    &__title-box{
        display: flex;
        align-items: center;
        background: url(../images/goal-img.jpg) no-repeat center center / cover;
        width:100%;
        height: 60vh;
        border-radius: 1rem;
        overflow: hidden;

        @include tablet {
            height: 35vh;
        }

        .goal__title{
            display: flex;
            font-weight: 500;
            font-size: 2.375rem;
            gap: 1rem;
            color: $color-white;
            mix-blend-mode: difference;

            @include tablet {
                font-size: 2rem;
            }

            @include tablet {
                font-size: 1.8rem;
            }

            span{
                flex-shrink: 0;
                animation: marqueeText 6s infinite linear;

                em{
                    font-family: $font-serif;
                }
            }
        }
    }

    &__list{
        position: relative;
        height:60vh;
        background-color: $color-white;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 0.9375rem;

        @include tablet {
            height: auto;
            border: none;
        }

        .goal__item{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding: 2.5rem;

            @include tablet {
                border: 1px solid rgba(0,0,0,0.2);
                border-radius: 0.9375rem;
                margin-bottom: 1.25rem;
                padding: 2.5rem 2rem;
            }

            @include mobile {
                padding: 2rem 1.5rem 1.8rem;
            }

            &:not(:first-child) {
                position: absolute;
                top:0;
                left:0;
                opacity: 0;

                @include tablet {
                    position: unset;
                    opacity: 1;
                }
            }

            &-title{
                font-size: 2.375rem;
                font-weight: 500;
                line-height: 1;
                padding-top: 2.375rem;

                @include tablet {
                    font-size: 1.75rem;
                    padding-top: 0;
                    padding-left: 2.75rem;
                }

                @include mobile {
                    font-size: 1.5rem;
                    padding-left: 2.5rem;
                }
            }

            &-desc{
                max-width: 500px;
                margin-top: 1rem;
                opacity: 0.7;
                font-size: 1.0625rem;

                @include laptop {
                    font-size: 1rem;
                }

                @include tablet {
                    padding-left: 2.75rem;
                    max-width: 100%;
                }

                @include mobile {
                    padding-left: 0;
                    margin-top: 0.5rem;
                    font-size: 0.9286rem;
                }
            }

            &:before{
                content:"(0"counter(number)")";
                counter-increment:number;
                font-size: 0.95em;
                position: absolute;
            }
        }
    }
}


/* Bottom Fixed */
.scroll{
    position: fixed;
    z-index: 999;
    bottom: 2rem;
    left:2.5rem;
    // height: 2.8rem;
    height: 1.5625rem;
    color: $color-black;
    overflow: hidden;
    color: $color-white;
    mix-blend-mode: difference;

    @include tablet{
        left: 2rem;
        bottom: 1.5rem;
    }

    @include mobile{
        left: 1.5rem;
        bottom: 1rem;
    }
    
    &__item {
        justify-content: space-between;
        display: flex;
        gap: 0.3rem;
        align-items: center;
        height:100%;

        &-text{
            font-size:1rem;
            white-space: nowrap;
        }

        &-icon{
            animation: scrollDown ease 1.6s infinite;
            @include mobile {
                width:8px;
            }
        }
    }

    &-progress{
        &__percent{
            display: inline-block;
            
            &:after {
                content: "%";
                position: relative;
                margin-left: 1px;
                font-size:0.9em;
                opacity: 0.4;
            }
        }
    }

    .top-btn{
        &__icon{
            animation-direction : reverse;
        }
        cursor: pointer;
    }
}

.copyright{
    position: fixed;
    z-index: 999;
    bottom: 2rem;
    right: 2.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: $color-white;
    mix-blend-mode: difference;

    @include tablet{
        right: 2rem;
        bottom: 1.5rem;
    }

    @include mobile{
        right: 1.5rem;
        bottom: 1rem;
    }
}